* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Peace Sans';
  src: url("./assets/fonts/PeaceSans.otf") format("opentype");
  font-display: swap;
}

:root {
  --header-height: 130px;
}

@media screen and (max-width: 1200px) {
  :root {
    --header-height: 100px;
  }
}

h1, ul {
  margin: 0;
  padding: 0;
}
